@using TableSwitchWebApplication.Helper;
@using TableSwitchWebApplication.Shared.Components
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>AMK Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <a href="hangfire">Background Process</a>
                </Authorized>
            </AuthorizeView>
            <a href="">@identityName</a>
            <a href="Identity/Account/Logout">Sign Out</a>
       </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
@code {
    private string? identityName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        identityName = authState.User.Identity!.Name!;
        GlobalData.UserName = identityName;
    }
}