@using TableSwitchWebApplication.Models.Settings.Schedule;
@inject DialogService DialogService

<RadzenTemplateForm TItem="Appointment" Data="@model">
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="Text" />
    </div>
    <div class="col">
        <RadzenTextArea @bind-Value="@model.Title" Name="Text" Disabled Style="width:100%"/>
        <RadzenRequiredValidator Text="Title is required" Component="Text" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="Start" />
    </div>
    <div class="col">
            <RadzenDatePicker @bind-Value="@model.PlanDateStart" Name="Start" ShowTime="true" Disabled Style="width:100%" />
        <RadzenRequiredValidator Text="Start is required" Component="Start" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <RadzenLabel Text="End" />
    </div>
    <div class="col">
            <RadzenDatePicker Name="End" @bind-Value="@model.PlanDateEnd" ShowTime="true" Disabled Style="width:100%" />
        <RadzenRequiredValidator Component="End" Text="End is required"  />
    </div>
</div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public Appointment? Appointment { get; set; }

    Appointment model = new Appointment();

    protected override void OnParametersSet()
    {
        model = Appointment!;
    }

}