@*
<div class="center-content">
    <button class="alert alert-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</div>
<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh; /* Set the height to the full viewport height */
    }

</style>*@
 <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(2)" >
    <RadzenImage Path="images/hzk6C.gif" Style="width: 150px; height:50px" />
</Animate>